* {
    margin: 0;
    padding: 0;
  }


body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f4/Trees_in_the_mist_%287699666560%29.jpg);
    margin:7px;
    justify-content:center;
     background-size: cover; 
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family: 'Darker Grotesque', sans-serif;
  }

.company{
    font-size: 75px;
  
}


  .quote{
    color:black;
    font-family: 'Monoton', cursive;
    font-size:30px;
    padding: 100px;
    justify-content: center;
 
  }
  

  nav,
  ul,
  main {
    display: flex;
    flex-direction: column;
  }
  
  li {
    list-style: none;
    margin-top: 10px;
  }
  
  
  a {
    text-decoration: none;
    color: #69696a;
    display: block;
    width: fit-content;
  }
  .button{
    background-color:transparent;
    border-radius: 20px;
    padding: 10px 24px;
    text-align:center;
    Color: #69696a;
  }

.scrolling-wrapper {
    display: flex;
    min-width: 100%;
    min-height: 150px;
    overflow-x: auto;
    padding-bottom:45px;
  }
  
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  .content {
    background-color: black;
    min-width: 200px;
    margin: 5px;
    box-shadow: 3px 5px rgba(255,255,255,0.05);
  }
  
  .content img {
    width: 100%;
    height: 100%;
  }

  h2{
    padding-bottom:10px;
    color:#69696a;
  }
  
  input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 10px;
  }
 form{
    font-family: 'VT323', monospace;
    font-size: 25px;
    color:black;

 }

  @media only screen and (min-width: 900px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    ul {
      flex-direction: row;
      align-items: center;
    }
  
    li {
      margin: 0 0 0 10px;
    }
  
    main {
      margin-top: 150px;
      flex-direction: row;
    }
  
